// Lets use LESS!
body {
	background: #eee url('http://localhost:8000/assets/img/paisley.png') repeat;
}
#background {
    width: 100%;
    height: 100vh;
    background-image: url(https://38.media.tumblr.com/tumblr_m7yuqbQZT91qgawlzo1_500.gif);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 100% 100%;
    // color: white;
    padding: 12.5% 0; 
    h1,h2 {
    	font-weight: bold;
    }
}