// Importing from Bootstrap
@import (reference) 'variables';
@import (reference) 'mixins';

body {
	background: #DADAD2;
}
#welcome {
	.make-xs-column(12);
    height: 100vh;
    background-image: url('../img/cute-white-puppy-wide.jpg');
    background-repeat: no-repeat;
    color: #A9765C;
    background-size: 100% 100%;
    #button {
    	background: transparent url('../img/grey-paw-print-md.png') no-repeat center center / contain;
    	display: block;
    	border: none;
    	width: 299px;
    	height: 288px;
    }
}
#search {
	.make-xs-column(12);
}
#searchbar {
	background: #f5f5f5 url("../img/hound.jpg") no-repeat right top / contain padding-box;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 30px;
	min-height: 25%;
	#searchbar_content {
		.make-row();
		.clearfix();
		//padding-top: 15px;
		padding-bottom: 15px;
		h3 {
			padding-left: 15px;
		}
		form {
			.make-xs-column(6);
			.make-sm-column(9);
			.make-md-column(8);
			button {
				margin-top: 15px;
			}	
		}
	}
}
#results {
	.pet {
		.make-xs-column(6);
		.make-sm-column(3);
		img {
			display: block;
			max-width:100%;
			width: auto;
			height:auto;
			max-height: 175px;
			margin: 0 auto;
		}
		p small {
			font-size: 75%;
		}
	}
}
#finished {
	.make-xs-column(12);
	.make-sm-column(10);
	.make-sm-column-offset(1);
	.make-md-column(8);
	.make-md-column-offset(2);
	text-align: center;
}