<div id="search">
<!-- 	<div id='location'></div> -->
	<div id="searchbar">
		<div id="searchbar_content">
			<h3>Search By</h3>
			<form>
				<div class="form-group">
					<label class="col-xs-6">
						Type of Animal
						<select class="form-control">
							<option value="any">Pet</option>
							<option value="dog">Dog</option>
							<option value="cat">Cat</option>
							<option value="rabbit">Rabbit</option>
							<option value="small-furry">Small & Furry</option>
							<option value="horse">Horse</option>
							<option value="bird">Bird</option>
							<option value="scale-fins-others">Scales, Fins, & Others</option>
							<option value="pig">Pig</option>
							<option value="barnyard">Barnyard</option>
						</select>
					</label>
					<label class="col-xs-6">
						Breed
						<input type="text" class="form-control">
					</label>
					<label class="col-xs-6">
						Age
						<select class="form-control">
							<option value="Any">Any</option>
							<option value="Baby">Baby</option>
							<option value="Young Adult">Young Adult</option>
							<option value="Adult">Adult</option>
							<option value="Senior">Senior</option>
						</select>
					</label>
					<label class="col-xs-6">
						Gender
						<select class="form-control">
							<option value="Any">Either</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div><!-- /#searchbar_content -->
	</div><!-- /#searbar -->
	<div id="results" class="row">
		<div class='pet' ng-repeat="pet in pets">
			<div class="well well-sm">
				<img ng-src="{{pet.photos[0]}}" ng-show="pet.photos[0]">
				<h4 ng-hide="pet.photos[0]" class="no-photo"><span class="glyphicon glyphicon-ban-circle"></span>No Photo Available</h4>
				<h3 class="clearfix"><span ng-bind="pet.name"></span> <small class="pull-right text-info" ng-bind="pet.breed"></small></h3>
				<p><small>Distance: <span ng-bind='pet.distance'></span> miles
				<br>Cost Estimate: <span ng-bind='pet.price'></span></small></p>
				<p class="text-center"><button class='btn btn-primary btn-sm' type="button" data-toggle='modal' data-target = "#confirmation" ng-click = 	"select(pet.id)">Select</button></p>
			</div>
		</div>
	</div><!-- /#results -->
</div>
<!-- Begin Modal HTML code -->
<div id="confirmation" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirm Pet</h4>
			</div>
			<div class="modal-body">
				<img class="img-responsive" ng-src="{{selectedPet.photos[0]}}">
				<div class="row">
					<div class="col-xs-6 col-sm-3" ng-repeat = 'photo in selectedPet.photos'>
						<a class="thumbnail"><img ng-src = "{{photo}}"></a>
					</div>
				</div>
				<p>Name: <span class="text-info" ng-bind="selectedPet.name"></span></p>
				<p>Age: <span class="text-info" ng-bind="selectedPet.age"></span></p>
				<p>Breed: <span class="text-info" ng-bind="selectedPet.breed"></span></p>
				<p>Description: <span class="text-info" ng-bind="selectedPet.description"></span></p>
				<hr>
				<p>Distance: <span class="text-danger" ng-bind="selectedPet.distance"></span></p>
				<p>Cost: $<span class="text-danger" ng-bind="selectedPet.price"></span></p>
			</div>
			<div class="modal-footer">
				<a class='text-danger pull-left' data-dismiss="modal">Close</a>
				<button class='btn btn-primary' ng-click='request()'>Request this pet</button>
			</div>
		</div>
	</div>
</div>
</div>
<!-- End Modal HTML Code -->