<div id="search">
<!-- 	<div id='location'></div> -->
	<div id="searchbar">
		<div id="searchbar_content">
			<h3>Search By</h3>
			<form>
				<div class="form-group">
					<label class="col-xs-6">
						Type of Animal
						<select class="form-control" ng-model="search_query.animal">
							<option value="any" selected default>Pet</option>
							<option value="dog">Dog</option>
							<option value="cat">Cat</option>
							<option value="rabbit">Rabbit</option>
							<option value="smallfurry">Small & Furry</option>
							<option value="horse">Horse</option>
							<option value="bird">Bird</option>
							<option value="reptile">Reptiles</option>
							<option value="pig">Pig</option>
						</select>
					</label>
					<label class="col-xs-6">
						Breed
						<input type="text" class="form-control" ng-model="search_query.breed">
					</label>
					<label class="col-xs-6">
						Age
						<select class="form-control" ng-model="search_query.age">
							<option value="Any" selected>Any</option>
							<option value="Baby">Baby</option>
							<option value="Young">Young</option>
							<option value="Adult">Adult</option>
							<option value="Senior">Senior</option>
						</select>
					</label>
					<label class="col-xs-6">
						Gender
						<select class="form-control" ng-model="search_query.gender">
							<option value="Any" selected>Either</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</label>
				</div>
	<!-- 			<div class="form-group">
					<label class="col-xs-6">Characteristics
						<div class="btn-group" style="width: 100%">
							<button class="btn btn-default">House Trained</button>
							<button class="btn btn-default">Declawed</button>
							<button class="btn btn-default">Special Needs</button>
						</div>
					</label>
					<label class="col-xs-6">Size
						<div class="btn-group" style="width: 100%">
							<button class="btn btn-default">S</button>
							<button class="btn btn-default">M</button>
							<button class="btn btn-default">L</button>
							<button class="btn btn-default">XL</button>
						</div>
					</label>
				</div>
				<div class="form-group">
					<label class="col-xs-12">My Household Has
						<div class="btn-group" style="width: 100%">
							<button class="btn btn-default">Cats</button>
							<button class="btn btn-default">Dogs</button>
							<button class="btn btn-default">Young Children</button>
						</div>
					</label>
				</div> -->
				<button type="submit" class="btn btn-primary" ng-click="search(search_query)">Search</button>
			</form>
		</div><!-- /#searchbar_content -->
	</div><!-- /#searbar -->
	<div id="results" class="row">
		<div class='pet' ng-repeat="pet in pets">
			<div class="well well-sm">
			<img ng-src="{{pet.photos[0]}}">
				<h4 class="clearfix"><span ng-bind="pet.name"></span> <small class="pull-right" ng-bind="pet.breed"></small></h4>
				<div class="row">
					<div class="col-xs-6">
						<p><small>Uber Dist: <b ng-bind='pet.distance'></b><b>m</b>
						<br>Uber Cost: <b ng-bind='pet.price'></b></small></p>
					</div>
					<div class="col-xs-6">
						<p class="text-center"><button class='btn btn-primary btn-sm' type="button" data-toggle='modal' data-target = "#confirmation" ng-click="select(pet.id)">Select</button></p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /#results -->
</div>
<!-- Begin Modal HTML code -->
<div id="confirmation" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirm Pet</h4>
			</div>
			<div class="modal-body">
				<img class="img-responsive" ng-src="{{selectedPet.photos[0]}}">
				<div class="row">
					<div class="col-xs-3" ng-repeat = 'photo in selectedPet.photos'>
						<a class="thumbnail"><img ng-src = "{{photo}}"></a>
					</div>
				</div>
				<p>Name: <span class="text-info" ng-bind="selectedPet.name"></span></p>
				<p>Age: <span class="text-info" ng-bind="selectedPet.age"></span></p>
				<p>Breed: <span class="text-info" ng-bind="selectedPet.breed"></span></p>
				<p>Description: <span style="color: gray" ng-bind="selectedPet.description"></span></p>
				<hr>
				<p>Distance: <span class="text-danger" ng-bind="selectedPet.distance"></span></p>
				<p>Cost: <span class="text-danger" ng-bind="selectedPet.price"></span></p>
			</div>
			<div class="modal-footer">
				<a class='text-danger pull-left' data-dismiss="modal">Close</a>
				<button class='btn btn-primary' ng-click='request()'>Request this pet</button>
			</div>
		</div>
	</div>
</div>
</div>
<!-- End Modal HTML Code -->